apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    template: fluentd-splunk-forwarder
  name: splunk
  namespace: infra-logging-splunk
data:
  host: "{{ splunk_host }}"
  port: "{{ splunk_port }}"
  ssl-verify: "{{ splunk_ssl_verify }}"
