apiVersion: v1
kind: Secret
metadata:
  labels:
    template: fluentd-splunk-forwarder
  name: fluentd-splunk-forwarder
  namespace: infra-logging-splunk
type: Opaque
data:
  sf-shared-key: {{ secure_forwarder_key | b64encode }}
  splunk-hec-token: {{ splunk_hec_token | b64encode }}
