apiVersion: v1
kind: Secret
metadata:
  labels:
    template: fluentd-splunk-forwarder
  name: git-ssh
  namespace: infra-logging-splunk
type: kubernetes.io/ssh-auth
data:
  ssh-privatekey: {{ git_private_key }}
