apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    template: fluentd-splunk-forwarder
  name: fluentd-splunk-forwarder
  namespace: infra-logging-splunk
spec:
  replicas: 1
  selector:
    template: fluentd-splunk-forwarder
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        template: fluentd-splunk-forwarder
    spec:
      containers:
      - name: fluentd
        env:
        - name: NAMESPACE
          value: infra-logging-splunk
        - name: CLUSTER_ID
          value: {{ clustername }}
        - name: SF_SHARED_KEY
          valueFrom:
            secretKeyRef:
              key: sf-shared-key
              name: fluentd-splunk-forwarder
        - name: SPLUNK_HOST
          valueFrom:
            configMapKeyRef:
              key: host
              name: splunk
        - name: SPLUNK_PORT
          valueFrom:
            configMapKeyRef:
              key: port
              name: splunk
        - name: SPLUNK_SSL_VERIFY
          valueFrom:
            configMapKeyRef:
              key: ssl-verify
              name: splunk
        - name: SPLUNK_HEC_TOKEN
          valueFrom:
            secretKeyRef:
              key: splunk-hec-token
              name: fluentd-splunk-forwarder
        image: image-registry.openshift-image-registry.svc:5000/infra-logging-splunk/logging-fluentd-splunk
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            memory: 756Mi
          requests:
            cpu: 100m
            memory: 756Mi
        ports:
        - containerPort: 24224
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: 24224
          timeoutSeconds: 1
        volumeMounts:
          - name: fluent-certs
            mountPath: /etc/fluent/certs
            readOnly: true
          - name: fluentd-conf
            mountPath: /etc/fluent/configs.d/user
            readOnly: true
      volumes:
        - name: fluent-certs
          secret:
            secretName: secure-forwarder-cert
        - name: fluentd-conf
          configMap:
            name: fluentd-conf
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - fluentd
      from:
        kind: ImageStreamTag
        name: fluentd-splunk-forwarder:latest
        namespace: infra-logging-splunk
    type: ImageChange
  - type: ConfigChange
