{% if cluster_admin_users is defined or cluster_admin_groups %}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-admin-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
{% for user in cluster_admin_users | default([]) %}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ user }}
{% endfor %}
{% for group in cluster_admin_groups | default([]) %}
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: {{ group }}
{% endfor %}
{% endif %}
